<h1>{{nieuwsItem?.titel}}</h1>

<form [formGroup]="myForm" autocomplete="off" novalidate (ngSubmit)="bewaren()">
  <div>
    <label>Titel:</label>
    <input type="text" class="form-control" formControlName="titel">
    <small [hidden]="myForm.controls.titel.valid || (myForm.controls.titel.pristine && !submitted)">
      Titel is verplicht (minimaal 5 tekens).
    </small>
  </div>

  <label>Samenvattig overzicht:</label>
  <ckeditor id="samenvattingOverzicht"
            formControlName="samenvattingOverzicht"

            [config]=" {toolbarGroups : [
		{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] }],
		removeButtons : 'Underline'
		}"
            rows="2" cols="80"
            debounce="500">
  </ckeditor>


  <label>Samenvattig nieuwsbrief:</label>

  <ckeditor id="samenvattingNieuwsbrief"
            formControlName="samenvattingNieuwsbrief"

            [config]=" {toolbarGroups : [
		{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] }],
		removeButtons : 'Underline'
		}"
            rows="2" cols="80"
            debounce="500">
  </ckeditor>

  <label>Bericht:</label>

  <ckeditor id="bericht"
            formControlName="bericht"

            [config]=" {toolbarGroups : [
		{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] }],
		removeButtons : 'Underline'
		}"
            rows="2" cols="80"
            debounce="500">
  </ckeditor>


  <nav class="navbar navbar-fixed-bottom">
    <div class="container">

      <button class="btn btn-danger btn-circle pull-right" (click)="deleteNieuwsItem()"><i class="fa fa-trash-o"
                                                                                           aria-hidden="true"></i>
      </button>
      <button class="btn btn-success btn-circle pull-right" type="submit"><i class="fa fa-floppy-o"
                                                                             aria-hidden="true"></i></button>
    </div>

  </nav>
</form>



















