
<div class="row overzicht" *ngFor="let nieuwsItem of nieuwsItems"
     (click)="onSelect(nieuwsItem)">
  <div class="col-sm-2">
    <img src="..." class="img-fluid img-overzicht" alt="afbeelding" style="height:120px;width:160px;">
  </div>
  <div class="col-sm-10">
    <h2> {{nieuwsItem.titel}}</h2>

    <div [innerHTML]="nieuwsItem.samenvattingOverzicht"></div>
  </div>
  <div>
  </div>
</div>
<nav class="navbar navbar-fixed-bottom">
  <div class="container">
    <button class="btn btn-primary btn-circle pull-right" (click)="addNieuwsItem()"><i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </div>
</nav>


